In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')
theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv')

In [2]:
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [3]:
theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [4]:
#percentage of people licenced
merged = df.merge(theme, left_on ='parent_theme', right_on ='name')
merged = merged.drop(columns='name_y')
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [5]:
#Filter null values
merged[merged['set_num'].isnull()].shape

(153, 8)

In [6]:
licensed = merged[merged['is_licensed']]
#drop the null values
licensed = licensed.dropna(subset = ['set_num'])
licensed.head()

star_wars = licensed[licensed['parent_theme']=='Star Wars']

star_wars.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

# count the percentage licenced (star_wars)

In [7]:
star_wars.shape

(609, 8)

In [9]:
the_force = int(star_wars.shape[0]/licensed.shape[0]*100)
print(the_force)

51

In [11]:
#TASK 2 IN WHICH YEAR WAS STAR WARS NOT THE MOST POPULAR LICENSED THEME( INTERMS OF NUMBER OF SETS RELEASED THAT YEAR)? SAVE THE 
#THE ANSWER AS A VARIABLE new_era IN A INTEGER.

In [16]:
# we have a licensed dataframe
licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [20]:
licensed_sort = licensed.sort_values('year')
licensed_sort['count'] = 1
#number of themes in that year
sum_df = licensed_sort.groupby(['year','parent_theme']).sum().reset_index()
sum_df.head()

   year           parent_theme  num_parts    id  is_licensed  count
0  1999              Star Wars     1384.0  2054         13.0     13
1  2000  Disney's Mickey Mouse      405.0  1940          5.0      5
2  2000              Star Wars     2580.0  4108         26.0     26
3  2001           Harry Potter     1284.0  2706         11.0     11
4  2001              Star Wars     2949.0  2212         14.0     14

In [24]:
max_df = sum_df.sort_values('count',ascending=False).drop_duplicates(['year'])
max_df

    year  parent_theme  num_parts     id  is_licensed  count
82  2017  Super Heroes    13123.0  34704         72.0     72
76  2016     Star Wars     6934.0   9638         61.0     61
67  2015     Star Wars    11410.0   9164         58.0     58
59  2014     Star Wars     8293.0   7110         45.0     45
47  2012     Star Wars     6769.0   6794         43.0     43
32  2009     Star Wars     3953.0   6162         39.0     39
52  2013     Star Wars     6159.0   5530         35.0     35
9   2003     Star Wars     6660.0   5056         32.0     32
42  2011     Star Wars     3451.0   5056         32.0     32
36  2010     Star Wars     6003.0   4740         30.0     30
16  2005     Star Wars     4730.0   4424         28.0     28
6   2002     Star Wars     4735.0   4424         28.0     28
2   2000     Star Wars     2580.0   4108         26.0     26
28  2008     Star Wars     6865.0   3634         23.0     23
12  2004     Star Wars     1659.0   3160         20.0     20
24  2007     Star Wars    11361.0   2528         16.0     16
4   2001     Star Wars     2949.0   2212         14.0     14
0   1999     Star Wars     1384.0   2054         13.0     13
20  2006     Star Wars     2769.0   1738         11.0     11

In [26]:
# Lets choose the les popular
new_era = 2017
#super Heroes beat the number of counts